@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";
@import "mixins";
@import "fonts";
@import "settings";

@include keyframes(openSigilThree) {
	from{
		background-position-x : 0;
	}
	to {
		background-position-x : -11400px;
	}
}

@include keyframes(openSigilTwo) {
	from{
		background-position-x : 0;
	}
	to {
		background-position-x : -6000px;
	}
}
@include keyframes(pulseSigilTwo) {
	from{
		background-position-x : -6000px;
	}
	to {
	background-position-x : -11400px;
	}
}
html.layar-content{
	margin-top: 0 !important;
	background : transparent !important;
	body{
		background : transparent !important;
	}
	p{
	 	margin:0;
	}
}

.sprite-wrapper{
	width: 600px;
	height: 600px;
	background: transparent;
	text-align: center;
	&.loading{
		&:before{
			content : "Loading...";
			display: block;
			margin: 220px auto;
			text-align: center;
			color: $blue;
			font-size: 2em;
			font-family: $base-font-family;
		}
	}
}
.sprite{
	display: block;
	margin: auto;
	background-repeat: no-repeat;
	background-size: auto;
	background-position-y :0;
	width: 100%;
	padding-bottom: 100%;

	&.Sigil1{
		&.open{
			@include animation(openSigilOne 2s steps(19));
			@include animation-fill-mode(forwards);
		}
		&.pulse{
			
		}
		&.close{
			@include animation(openSigilOne 2s steps(19) reverse);
			@include animation-fill-mode(forwards);
		}
	}
	&.Sigil2{
		&.open{
			@include animation(openSigilTwo 1s steps(10));
			@include animation-fill-mode(forwards);
		}
		&.pulse{
			@include animation(pulseSigilTwo 1s steps(9) 2 alternate );
			@include animation-fill-mode(forwards);
		}
		&.close{
			@include animation(openSigilTwo 1s steps(10) reverse);
			@include animation-fill-mode(forwards);
		}
	}
	&.Sigil3{
		&.open{
			@include animation(openSigilThree 2s steps(19));
			@include animation-fill-mode(forwards);
		}
		&.pulse{
			
		}
		&.close{
			@include animation(openSigilThree 2s steps(19) reverse);
			@include animation-fill-mode(forwards);
		}
	}
	

}

