@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";
@import "mixins";
@import "fonts";
@import "settings";


@include keyframes(openSigilOne) {
	from{
		background-position-x : 0;
	}
	to {
		background-position-x : -11400px;
	}
}
@include keyframes(openSigilTwo) {
	from{
		background-position-x : 0;
	}
	to {
		background-position-x : -11400px;
	}
}
@include keyframes(openSigilThree) {
	from{
		background-position-x : 0;
	}
	to {
		background-position-x : -11400px;
	}
}
@include keyframes(openSigilFour) {
	from{
		background-position-x : 0;
	}
	to {
		background-position-x : -11400px;
	}
}
@include keyframes(openSigilOneSmall) {
	from{
		background-position-x : 0;
	}
	to {
		background-position-x : -5700px;
	}
}
@include keyframes(openSigilTwoSmall) {
	from{
		background-position-x : 0;
	}
	to {
		background-position-x : -5700px;
	}
}
@include keyframes(openSigilThreeSmall) {
	from{
		background-position-x : 0;
	}
	to {
		background-position-x : -5700px;
	}
}
@include keyframes(openSigilFourSmall) {
	from{
		background-position-x : 0;
	}
	to {
		background-position-x : -5700px;
	}
}
html.layar-content{
	margin-top: 0 !important;
	background : transparent !important;
	body{
		background : transparent !important;
	}
	p{
	 	margin:0;
	}
}

.sprite-wrapper{
	background: transparent;
	text-align: center;
	&.loading{
		&:before{
			content : "Loading...";
			display: block;
			margin: 220px auto;
			text-align: center;
			color: $blue;
			font-size: 2em;
			font-family: $base-font-family;
		}
	}
	&.fullrez{
		width: 600px;
		height: 600px;
		.Sigil1{
			&.open{
				@include animation(openSigilOne 2s steps(19));
				@include animation-fill-mode(forwards);
			}
			&.pulse{
				
			}
			&.close{
				@include animation(openSigilOne 2s steps(19) reverse);
				@include animation-fill-mode(forwards);
			}
		}
		.Sigil2{
			&.open{
				@include animation(openSigilTwo 2s steps(19));
				@include animation-fill-mode(forwards);
			}
			&.pulse{
				@include animation(pulseSigilTwo 1s steps(9) 2 alternate );
				@include animation-fill-mode(forwards);
			}
			&.close{
				@include animation(openSigilTwo 2s steps(19) reverse);
				@include animation-fill-mode(forwards);
			}
		}
		.Sigil3{
			&.open{
				@include animation(openSigilThree 2s steps(19));
				@include animation-fill-mode(forwards);
			}
			&.pulse{
				
			}
			&.close{
				@include animation(openSigilThree 2s steps(19) reverse);
				@include animation-fill-mode(forwards);
			}
		}
		.Sigil4{
			&.open{
				@include animation(openSigilFour 2s steps(19));
				@include animation-fill-mode(forwards);
			}
			&.pulse{
				
			}
			&.close{
				@include animation(openSigilFour 2s steps(19) reverse);
				@include animation-fill-mode(forwards);
			}
		}
	}
	
	&.halfrez{
		width: 300px;
		height: 300px;
		.Sigil1{
			&.open{
				@include animation(openSigilOneSmall 2s steps(19));
				@include animation-fill-mode(forwards);
			}
			&.pulse{
				
			}
			&.close{
				@include animation(openSigilOneSmall 2s steps(19) reverse);
				@include animation-fill-mode(forwards);
			}
		}
		.Sigil2{
			&.open{
				@include animation(openSigilTwoSmall 2s steps(19));
				@include animation-fill-mode(forwards);
			}
			&.pulse{
				@include animation(pulseSigilTwoSmall 1s steps(9) 2 alternate );
				@include animation-fill-mode(forwards);
			}
			&.close{
				@include animation(openSigilTwoSmall 2s steps(19) reverse);
				@include animation-fill-mode(forwards);
			}
		}
		.Sigil3{
			&.open{
				@include animation(openSigilThreeSmall 2s steps(19));
				@include animation-fill-mode(forwards);
			}
			&.pulse{
				
			}
			&.close{
				@include animation(openSigilThreeSmall 2s steps(19) reverse);
				@include animation-fill-mode(forwards);
			}
		}
		.Sigil4{
			&.open{
				@include animation(openSigilFourSmall 2s steps(19));
				@include animation-fill-mode(forwards);
			}
			&.pulse{
				
			}
			&.close{
				@include animation(openSigilFourSmall 2s steps(19) reverse);
				@include animation-fill-mode(forwards);
			}
		}	
	}
}
.sprite{
	display: block;
	margin: auto;
	background-repeat: no-repeat;
	background-size: auto;
	background-position-y :0;
	width: 100%;
	padding-bottom: 100%;
}



