/*---------------------------------------------------------
 4. Elements (_elements.scss)
-------------------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	color: $e;
	@extend .break;
	@include rem('margin', $base*1.5 0 $base/4 0);
	a {
		color: $e; //reset
		&:hover {
			color: $e; //reset
		}
	}
}
h1 {
	@include for(medium-screens) {
		@include rem('font-size', 50px);
	}
	line-height: 1.34;
	@include rem('margin', 0 0 $base -2px);
	@include rem('font-size', 38px);
	@include rem('word-spacing', -2px);
	@include rem('letter-spacing', -1px);
	@extend .serif-type;
}
h2 {
	@include for(medium-screens) {
		@include rem('font-size', 38px);
	}
	font-weight: 700;
	line-height: 1.3;
	@include rem('margin-left', -2px);
	@include rem('font-size', 30px);
	@include rem('word-spacing', -1px);
}
h3 {
	font-weight: 700;
	line-height: 1.45;
	@include rem('font-size', 24px);
	@include rem('word-spacing', -1px);
}
h4 {
	line-height: 1.6;
	@include rem('margin-left', -1px);
	@include rem('font-size', 22px);
	@extend .serif-type;
}
h5 {
	line-height: 1.95;
	text-transform: uppercase;
	@include rem('font-size', 18px);
	@include rem('letter-spacing', 2px);
	@extend .serif-type;
}
h6 {
	font-weight: 700;
	line-height: 1.95;
	text-transform: uppercase;
	@include rem('font-size', 14px);
	@include rem('letter-spacing', 1px);
}
/*---------------------------------------------------------
 Elements (_elements.scss)
-------------------------------------------------------- */
blockquote {
	clear: both;
	@extend .serif-type;
	p {
		@include for(medium-screens) {
			@include rem('font-size', 24px);
		}
		line-height: 1.6;
		@include rem('word-spacing', -1px);
		@include rem('font-size', 22px);
		&:first-of-type:before {
			content: "\201C";
			color: $f;
			@include rem('padding-right', 3px);
			@include rem('margin-left', -21px);
		}
	}
	cite {
		color: $c;
		font-family: $sans; //reset
		font-weight: 400; //reset
		font-style: normal; //reset
		@include rem('margin-bottom', $base);
		@include rem('font-size', 18px);
		&:before {
			content: "\2013";
			@include rem('padding-right', 3px);
		}
	}
}
q {
	&:before {
		content: "\201C";
	}
	&:after {
		content: "\201D";
	}
}
tt,
kbd,
pre,
code,
samp {
	font-family: $mono;
	font-weight: 400;
	@include rem('padding', 3px);
	@include rem('word-spacing', -2px);
}
mark{
	background: #ffc;
	font-style: italic;
	@include rem('padding', 3px);
}
code,
pre {
	background-color: $a;
	color: $c;
}
abbr,
acronym,
dfn {
	cursor: help;
	text-transform: lowercase;
	font-variant: small-caps;
	font-size: 1.4em;
	line-height: 1;
	@include rem('letter-spacing', 1px);
}
pre {
	display: block;
	overflow: auto;
	white-space: pre-wrap;
	@extend .break;
	@include rem('padding', $base);
}
details {
	summary {
		font-weight: 700;
		@include rem('margin-bottom', $base);
	}
	:focus {
		outline: none;
	}
}
del {
	color: $c;
}
ins {
	color: #e31414;
	text-decoration: none;
	&:before {
		content: "\005B";
		position: relative;
		@include rem('right', 1px);
	}
	&:after {
		content: "\005D";
		position: relative;
		@include rem('left', 1px);
	}
}
small {
	font-size: .75em;
}
big {
	font-size: 1.25em;
}
address {
	font-style: normal;
	font-weight: 700;
}
hr {
	display: block;
	height: 1px;
	padding: 0;
	border: 0; //reset
	border-top: $rule;
	@include rem('margin', $base*2 0);
	@extend .box-size;
}
/*---------------------------------------------------------
 Disable web fonts (_elements.scss)
-------------------------------------------------------- */
.disable-web-font {
	h1,
	h4,
	h5,
	blockquote,
	.intro {
		font-family: $serif-default;
	}
}
/*---------------------------------------------------------
 Extras (_elements.scss)
-------------------------------------------------------- */
.intro {
	@include for(medium-screens) {
		@include rem('font-size', 26px);
	}
	font-family: $serif;
	line-height: 1.6;
	@include rem('font-size', 23px);
	@include rem('word-spacing', -1px);
}
.drop-cap {
	float: left;
	color: $primary;
	font-weight: 400;
	line-height: 1;
	text-transform: uppercase;
	@include rem('margin', 0 7px 0 -4px);
	@include rem('font-size', 58px);
}
/*---------------------------------------------------------
 Lists (_elements.scss)
-------------------------------------------------------- */
.main-content,
.respond-body {
	ul {
		list-style: square outside;
	}
	ol {
		list-style: decimal outside;
	}
	li {
		line-height: 1.9;
	}
	li > ul,
	li > ol {
		margin-bottom: 0;
		margin-left: $indent;
	}
}
/*---------------------------------------------------------
 Definition lists (_elements.scss)
-------------------------------------------------------- */
dl dt {
	margin-bottom: 0;
	font-weight: 700;
}
/*---------------------------------------------------------
 Tables (_elements.scss)
-------------------------------------------------------- */
table {
	width: 100%;
	text-align: center;
	border: $rule;
	@extend .break;
	@extend .small-type;
	@include type-hyphens(none);
	caption {
		@include rem('margin-bottom', $base);
	}
	th,
	td {
		@include rem('padding', 10px 0);
	}
	th {
		color: $e;
		border-left: $rule;
	}
	td {
		border-top: $rule;
		border-left: $rule;
		&[valign="top"] {
			vertical-align: top;
		}
		&[valign="bottom"] {
			vertical-align: bottom;
		}
	}
}
/*---------------------------------------------------------
 Alerts (_elements.scss)
-------------------------------------------------------- */
.alert {
	clear: both;
	padding: $base*1.5;
	background-color: $a;
	@include rem('margin-bottom', $base);
	@extend .small-type;
	p {
		margin-bottom: 0;
	}
}
.error {
	background-color: #e14023;
	color: #ffffff;
}
.success {
	background-color: $primary;
	color: #ffffff;
}
.note {
	background-color: $secondary;
	color: $e;
}
/*---------------------------------------------------------
 Placeholders (_scaffolding.scss)
-------------------------------------------------------- */
.placeholder-text {
	float: left;
	display: table;
	width: 100%;
	text-align: center;
	background-color: $a;
	-webkit-font-smoothing: subpixel-antialiased; //reset
	@include rem('margin-bottom', $base);
	@extend .small-type;
	@extend .box-size;
	p {
		display: table-cell;
		vertical-align: middle;
		@include rem('padding', $gut);
		@include type-hyphens(none);
	}
}
.portfolio-placeholder {
	@include for(medium-screens) {
		width: $with-sidebar;
		height: 488px;
	}
}
.featured-placeholder {
	@include for(medium-screens) {
		width: 100%;
		height: 650px;
	}
}
/*---------------------------------------------------------
 Galleries (_elements.scss)
-------------------------------------------------------- */
.gallery {
	margin-bottom: $base !important;
	.gallery-icon {
		img {
			border: 0 !important;
		}
	}
	.gallery-item {
		width: 30% !important;
		padding-left: 1.5%;
		padding-right: 1.5%;
	}
	.gallery-caption {
		margin-bottom: 0;
	}
	dl,
	dt {
		margin-bottom: 0;
	}
}
/*---------------------------------------------------------
 Sharedaddy (_elements.scss)
-------------------------------------------------------- */
div.sharedaddy,
div.sd-block {
	clear: both !important;
	@include rem('padding', 0 $base 0 0);
	border-top: 0 !important;
}