/*---------------------------------------------------------
 1. Notes (_notes.scss)
-----------------------------------------------------------
This stylesheet uses rem values with a pixel fallback.
-----------------------------------------------------------
 Examples
-----------------------------------------------------------
* Use a pixel value with a rem fallback for font-size, padding, margins, etc.
	padding: 5px 0;
	padding: 0.27778rem 0; (5/$base)
-----------------------------------------------------------
 Vertical spacing
-----------------------------------------------------------
The $base variable ($base: 22;) is used for vertical spacing.
Vertical spacing between most elements should use 11px, 22px or 44px
to maintain vertical rhythm:

.my-new-div {
	margin: 11px 0;
	margin: 0.61111rem 0; (11/$base)
}
-----------------------------------------------------------
 Horizontal spacing
-----------------------------------------------------------
The $col ($col: 82;) and $gut ($gut: 32;) variables are used for horizontal spacing.
Horizontal spacing between most elements should use 16px, 32px or 82px
to maintain horizontal rhythm:

.my-new-div {
	margin: 16px 0;
	margin: 0.88889rem 0; (16/$gut)
}
-----------------------------------------------------------
 Further reading
-----------------------------------------------------------
http://snook.ca/archives/html_and_css/font-size-with-rem
http://blog.typekit.com/2011/11/09/type-study-sizing-the-legible-letter/
-------------------------------------------------------- */