/*---------------------------------------------------------
 8. Sidebar (_sidebar.scss)
-------------------------------------------------------- */
.no-sidebar {
	width: 100%;
}
#sidebar {
	@include for(medium-screens) {
		float: right;
		width: $sidebar;
		margin-top: 0;
	}
	float: left;
	width: 100%;
	@include rem('margin-top', $base*2);
	@extend .small-type;
	p {
		margin-bottom: $base/2;
	}
	li {
		list-style: none;
		line-height: 1.8;
	}
	ul,
	p:last-of-type {
		margin-bottom: 0;
	}
}
/*---------------------------------------------------------
 Widgets (_sidebar.scss)
-------------------------------------------------------- */
.widgettitle {
	margin-top: 0;
	@include rem('font-size', 18px);
}
.widget {
	@include rem('margin-bottom', $base*2);
	&:last-of-type {
		margin-bottom: 0;
	}
}
.rsswidget img {
	display: none;
}
.widget_rss {
	.rss-date:before {
		content: "\2013  ";
	}
	cite {
		display: inline-block;
		@include rem('margin-bottom', $base);
		&:before {
			content: "\2013  ";
		}
	}
}
.widget_tag_cloud a {
	@include rem('padding', 2px);
}
.widget_calendar tfoot {
	background-color: $a;
	td {
		border-left: 0;
	}
}
.widget_nav_menu ul.sub-menu {
	margin-bottom: 0;
	li:before {
		content: "\2013  "
	}
}