body{
	font-size: 2em;
	margin: 0;
	color: $second-blue;
	background: $black;
	border-top: 12px solid $second-blue;
}
.survey-wrapper{
	max-width: 800px;
	margin: 0 auto;
	background: $black;
	color: $white;
	padding: 1em;
	margin-top: -12px;
	border-top: 11px solid $blue;
	
	@include paperShadow(2, rgba(0,0,0,.5));
	
	.question{
		font-size: 1.1rem;
		color: $white;

		}
		.answers{
			margin: 1em 0;
			@include columns(3);
			@media screen and (max-width: $tablet-break){
				@include columns(2);
			}
			@media screen and (max-width: $phone-break){
				@include columns(1);
			}
			

		}
		.answer{
			font-weight: bold;
			margin: 1em 0;
		}
		.answer input{
		    margin: .4em .65em 1em 0;
		    vertical-align: top;
		}
		input[type="text"]{
			margin: 2em 0;
		}

		input[type="submit"]{
			width: 100%;
			font-size: 18px;

		}
}