body{
	border-top: none;
}
.vis-wrapper-4{
	width: 100vw;
	height: 100vh;
	background-color: $black;
	color: $white;
    .vis{
    	float: left;
    	width: 50%;
    	height: 50vh;
    	//border: 1px solid $blue;
    	background-repeat: no-repeat;
    	background-size: 80%;
    	background-position: center;
    	@include animation(fade-in 2s 1);
    	@include transition(background-size 1s ease-out);

    }

    #vis-1{
    	background-image: url('../images/sigil-01.svg');
    	background-position: bottom right;
    }
    #vis-2{
    	background-image: url('../images/sigil-02.svg');
    	background-position: bottom left;
    }
    #vis-3{
    	background-image: url('../images/sigil-03.svg');
    	background-position: top right;
    }
    #vis-4{
    	background-image: url('../images/sigil-04.svg');
    	background-position: top left;
    }

	h3.question{
		text-align: left;
		padding-top: 0;

	}

	svg text.fade-in{
		opacity: .5;
		@include transition(all .3s);
	}
}