body{
	border-top: none;
}
.vis-wrapper-4{
	width: 100vw;
	height: 100vh;
	background-color: $black;
	color: $white;
    .vis{
    	float: left;
    	width: 50%;
    	height: 50vh;
        position: relative;
        overflow: hidden;
    	//border: 1px solid $blue;
    	background-repeat: no-repeat;
    	background-size: 80%;
    	background-position: center;
    	@include animation(fade-in 2s 1);
    	@include transition(background-size 1s ease-out);

    }
    svg{
        z-index: 2;
        position: relative;
    }
    .sprite-wrapper{
        position: absolute;
        z-index: 1;
        width: 600px;
        height: 600px;
        display: block;
        float: left;
        background-position: top left;
        background-repeat: no-repeat;
        @include animation(fade-in 2s 1);
        @include animation('playVis' 2s steps(19) 3 alternate);
        @include animation-fill-mode(forwards);
        @include transform(scale(.5));
        @include transition(-webkit-filter 1s, filter 1s, -moz-filter 1s, scale 1s ease);
        @include filter(grayscale(100%) brightness(10%));
        
        &.active{
            @include filter(grayscale(50%) brightness(80%));
        }

    }

    #vis-1 .sprite-wrapper{
    	background-image: url('../animations/spritesheets/spriteSheet_Sigil1_fullrez.png');

        @include transform-origin(bottom right);
        bottom: 0;
        right: 0;
    }
    #vis-2 .sprite-wrapper{
        @include animation-delay(.5s);
    	background-image: url('../animations/spritesheets/spriteSheet_Sigil2_fullrez.png');
        @include transform-origin(bottom left);
        bottom: 0;
        left: 0;
    }
    #vis-3 .sprite-wrapper{
        @include animation-delay(1.5s);
    	background-image: url('../animations/spritesheets/spriteSheet_Sigil3_fullrez.png');
        @include transform-origin(top right);
        top: 0;
        right: 0;
    }
    #vis-4 .sprite-wrapper{
        @include animation-delay(1s);
        background-image: url('../animations/spritesheets/spriteSheet_Sigil4_fullrez.png');
        @include transform-origin(top left);
        top: 0;
        left: 0;
    }

	h3.question{
		text-align: left;
		padding-top: 0;

	}

	svg text.fade-in{
		opacity: .5;
		@include transition(all .3s);
	}
}