/*---------------------------------------------------------
 9. Comments (_comments.scss)
-------------------------------------------------------- */
#respond,
#comments {
	display: block;
	width: 100%;
	@extend .small-type;
}
#comments {
	.bypostauthor .comment-name {
		background-color: $primary;
		color: $b;
		@include rem('padding', 5px 6px);
		@include border-radius;
		a {
			color: $b;
		}
	}
	.children {
		@include for(medium-screens) {
			@include rem('padding-left', $col+$gut);
		}
		.comment {
			@include rem('padding-top', $base*2);
		}
	}
	.avatar {
		@include for(medium-screens) {
			display: block;
		}
		display: none;
		float: left;
		width: $col;
	}
}
#comment-headline {
	@include for(medium-screens) {
		@include rem('margin', $base*2 0);
	}
	@include rem('margin', $base 0);
}
#cancel-comment-reply-link {
	font-weight: 400; //reset
	border-left: $rule;
	@include rem('padding-left', 6px);
}
/*---------------------------------------------------------
 Comment details (_comments.scss)
-------------------------------------------------------- */
.comment {
	@include rem('padding-top', $base*2);
	&:first-of-type {
		padding-top: 0;
	}
}
.fn {
	color: $d;
}
.required {
	color: $f;
}
.comment-date {
	float: right;
	color: $f;
}
.comment-name {
	font-weight: 700;
}
.comment-field {
	display: inline-block;
	@include rem('margin', 0 0 $base/2);
	&:after {
		content: "\003A";
		color: $f;
	}
}
.protected-comments {
	@include rem('margin', $base 0);
}
#comments-nav {
	@include rem('margin-bottom', $base*2);
	@extend .clear;
}
/*---------------------------------------------------------
 Respond form (_comments.scss)
-------------------------------------------------------- */
#reply-title {
	@include rem('margin', $base 0);
}
.respond-type {
	width: 100%;
}
.respond-note {
	display: block;
	color: $f;
}
.respond-body {
	@include for(medium-screens) {
		@include rem('margin', 0 0 0 $col+$gut);
	}
	margin: 0;
	border-bottom: $rule;
	@include rem('padding-bottom', $base*2);
}
#respond {
	@include rem('margin-top', $base*2);
	fieldset {
		@include rem('margin-bottom', $base/2);
	}
	.form-submit {
		margin-bottom: 0;
	}
	input[type="submit"] {
		margin-bottom: 0;
	}
}