/*---------------------------------------------------------
 10. Forms (_forms.scss)
-------------------------------------------------------- */
textarea,
select,
input {
	max-width: 100%;
	border: 0; //reset
	background-color: $a;
	@include rem('padding', $base/2);
	@extend .box-size;
	@extend .small-type;
	@include border-radius;
	@include inner-box-shadow;
	line-height: 1; //reset
	&:focus {
		outline-color: $primary;
	}
}
textarea {
	line-height: 1.55;
	resize: vertical;
}
select {
	outline: none;
	border: $rule;
	background-color: $b;
}
/*---------------------------------------------------------
 Buttons (_forms.scss)
-------------------------------------------------------- */
button,
input[type="reset"],
input[type="submit"],
input[type="button"],
#infinite-handle span {
	@include for(medium-screens) {
		@include rem('font-size', 14px);
	}
	color: $d;
	text-shadow: 1px 1px 0 rgba(255,255,255,0.16);
	background: $secondary;
	border: 0;
	border-top: 1px solid lighten($secondary,8);
	border-bottom: 2px solid darken($secondary,1);
	line-height: 1; //reset
	text-align: center;
	text-transform: capitalize;
	text-rendering: optimizeLegibility;
	font-family: $sans;
	@include rem('margin-bottom', $base);
	@include rem('padding', 14px);
	@include no-select;
	@include border-radius;
	@include inner-box-shadow(none); //reset
	&:active,
	&:hover {
		background: lighten($secondary,4);
	}
}
#infinite-handle {
	clear: both;
	float: left;
	span {
		display: inline-block;
	}
}
.infinite-loader {
	clear: both;
	display: inline-block;
	float: left;
}
/*---------------------------------------------------------
 Contact form 7 (_forms.scss)
-------------------------------------------------------- */
.wpcf7 {
	@extend .small-type;
	input[type="text"],
	input[type="email"],
	textarea {
		width: 100%;
		@include rem('margin-top', $base/2);
	}
	input[type="submit"] {
		margin-bottom: 0;
	}
}