/* HOMEPAGE SLIDER TEMPLATE_________________________ */
.page-template-homepage-php {
	.theme-container{
	width: 100%;
	max-width: 100%;
	padding: 0;
	box-sizing: border-box;
	position: relative;
	@media screen and (min-width: 900px){
		.page-content {
			display: none;
		}
	}
	}
	#main-header[role=banner]{
		position: absolute;
		@media screen and (max-width: 900px){
			top: auto;
			position: relative;
		}
	}
	.homepage-featured-area {
		position: absolute;
		overflow: hidden;
		padding: 0;
		margin-bottom: 0;
		margin-bottom: 0;
		min-width: 100%;
		min-height: 100%;
		z-index: 0;
		@media screen and (max-width: 900px){
			position: relative;
			height: 600px !important;
		}
		@media screen and (max-width: 800px){
			position: relative;
			height: 500px !important;
		}
		@media screen and (max-width: 700px){
			position: relative;
			height: 450px !important;
		}
		@media screen and (max-width: 600px){
			position: relative;
			height: 350px !important;
		}
		@media screen and (max-width: 500px){
			position: relative;
			height: 300px !important;
		}
		@media screen and (max-width: 400px){
			position: relative;
			height: 200px !important;
		}
		@media screen and (max-width: 350px){
			position: relative;
			height: 200px !important;
		}
		li a {
			width: 100%;
			height: 100%;
		}
		.intro-content {
			position: absolute;
			z-index: 100;
			display: block;
			width: 40%;
			height: 400px;
			top: 0;
			left: 0;
			box-sizing: border-box;
			padding: 25px 10px;
			@media screen and (max-width: 1100px){
			font-size: .8em;
			}
			@media screen and (min-width: 900px){
			top: 60px;
			}
			@media screen and (max-width: 900px){
			display:none;
			}

		}
		.homepage-button{
			height: 44px;
			top: 0;
			right: 24px;
		}
		.slider-vid{
			width:100%;
			margin:0;
			z-index: 1;
			height: auto;
			position:absolute;
			text-align: center;
			&.centered{
			width: 60%;
			
			
			margin: 100px 20%;
			}
		}
		#slider-nav{
			
		.rslides_nav {
			position:absolute;
			z-index: 1000;
			&.next{
				right: 0;
				top: 50%;
			}
			&.prev{
				left:0;
				top:50%;
			}
			font-family: "ArialBlack";
			padding: 0 10px 8px;
			@include dark-background;
			margin: 0 10px 0px;
			text-transform: uppercase;
			color: #fff;
			font-weight: bold;
			font-size: 2em;
			line-height: 1;
			-webkit-transition: all .3s;
			transition: all .3s;
			//border-top-left-radius: .5em;
			//border-top-right-radius: .5em;
			box-shadow: 0 0px 2px rgba(0,0,0,0);
			opacity: .5;
			&:hover {
				color: #eee;
				opacity: 1;
				box-shadow: 0 0px 1px rgba(0,0,0,.3);
			}
			@media screen and (max-width: 900px){
				display: none;
			}
		}
		}
	}
	.frame{
		max-width: 100%;
	}
	.learn-more{
		position: absolute;
		float: right;
		z-index:100;
		top: 0;
		right:0;
	}
	.post-details{
		position: fixed;
		bottom: 30px;
		right: 0;
		padding: 5px;
		@include dark-background;
		.post-title{
			color: #eee;
			font-size:2.5em;
			text-transform:uppercase;
			margin:0;
			
		}
		.post-description{
			color: #eee;
			font-family:"ArialBlack";
			margin-bottom: 5px;

		}
	}

}

@media screen and (max-width: 768px){
			.page-template-homepage-php {
				.homepage-featured-area {
					position: relative;
					min-height: 0;
					//height: 300px !important;
					img {
						height: auto;
					}
					.slider-vid{
						//display: none;
					}
					#slider-nav{
						position: absolute;
						bottom: 10px;

						.rslides_nav{

						}
					}
				}
			}
			.page-content.frame {
				box-sizing: border-box;
				padding: 24px;
			}
		}
				
	


