//THE MAIN PAGE HEADER
body {
	#main-header[role=banner]{
	background-color:#fff;
	border-bottom: none;
	.logo-wrapper h1 a{
		background: url("http://augmentedart/wp-content/themes/snap-child/assets/images/logo-header.svg") no-repeat;
		background-size: contain;
		width: 250px;
		height: 50px;
		display: block;
		text-indent: -9999%;
		}
	}

	@media screen and (max-width: 900px){
		#main-header[role=banner]{
			.logo-wrapper h1 {
				text-align: center;
				width: 100%;
				a{
					width: 80%;
					min-height: 100px;
					margin: 0 auto;
				}
			}
		}
	}

	@media screen and (max-width: 500px){
		#main-header[role=banner]{
			.logo-wrapper h1 {
				a{
					min-height: 75px;
				}
			}
		}
	}
}