
@font-face {	    
	font-family: "TradeGothicBoldCond";	    
	font-style: normal;	    
	src: url("http://augmentedart.com/fonts/TradeGothicforNike365-BdCn.eot"); 
	src: url("http://augmentedart.com/fonts/TradeGothicforNike365-BdCn.woff") format("woff"), url("http://augmentedart.com/fonts/TradeGothicforNike365-BdCn.ttf") format("truetype"), url("http://augmentedart.com/fonts/TradeGothicforNike365-BdCn.svg") format("svg");	
}

@font-face {
  font-family: "nike-icon-font";
  font-weight: normal;
  font-style: normal;
  src:url("http://augmentedart.com/fonts/nike-icon-font.eot");
  src:url("http://augmentedart.com/fonts/nike-icon-font.svg") format("svg"),  url("http://augmentedart.com/fonts/nike-icon-font.ttf") format("truetype"),  url("http://augmentedart.com/fonts/nike-icon-font.woff") format("woff");




}

$icon-font : "nike-icon-font";
$trade-gothic : "TradeGothicBoldCond";
$futura-font : "FuturaW01-ExtraBoldCond 774896", helvetica, sans-serif;	

$small-screen : 480px;
$medium-screen : 1025px;
//colors
$green : #0d827e;
$teal : #12515a;
$off-white : #edf0f0;

* { //no hyphenation
	-moz-hyphens: none;
  -ms-hyphens: none;
  -webkit-hyphens: none;
  hyphens: none;
}
html, body{
	background-color: transparent !important;
}

.nike-page{
	float: left;
	width: 100%;
}
a.menu-toggle{
	position: relative;
	z-index: 1001;
	text-transform: uppercase;
	color: #3e4045;
	font-family : $trade-gothic;
	font-size : 1.1em;
	transition: .2s color;
	&:hover{
		color: #7e7e7e;
	}
	&:after{
		font-family : $icon-font;
		content : "\279f";
		margin-left: 4px;
		vertical-align: bottom;

	}
	&.tab{
		position: absolute;
		white-space: nowrap;
		overflow: hidden;
		color: #ddd;
		left: 0;
		background: #333;
		background-image : url(images/nike-fa15/banner-bg.jpg);
		background-size : cover;
		box-shadow: 0 1px 5px rgba(0,0,0,.5);
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
		padding: 4px;
		&.before-content{
			top: 4px;
		}

		&.after-content{
			bottom: 14px;
		}
	}
	

}
a.menu-toggle.menu-close{
	position: absolute;
	right: .5em;
	&:after{
		content : "\2716";
		margin-left: 4px;
		vertical-align: top;
		line-height: 1.4;
	}

}
.off-canvas.overlay{
	background-color: rgba(0,0,0,0);
	position:absolute;
	width: 100%;
	height: 100%;
	z-index: 1000;
	display:block;
	float: left;
	margin-left : -100%;
	box-sizing : border-box;

}
.sidebar{
	text-align : center;
	.sidebar-title{
		margin-top: 0;
		font-size : 1rem;
		line-height: 1;
		margin-bottom : 1em;
	}

	&.off-canvas{
		@media screen and (min-width: 768px){
			display: none;
		}
		box-sizing : border-box;
		transition: .2s margin;
		width:90%;
		max-width: 400px;
		padding: .25em 1em;
		margin-left: -100%;
		float: left;
		position : relative;
		z-index:1002;
		background : #fff;
		box-shadow : 0 1px 10px rgba(0,0,0,.5);
		height: 100%;


	}
	&.in-content{

	}

}//end sidebar

[role="main"]{
	transition: .2s margin;
	width: 100%;
	padding: 0;
	margin-left: 0;
	float: left;
}
@media screen and (max-width: 768px){
	.active-nav{
		.sidebar.off-canvas{
			margin-left: 0;
			width: 80%;
		}

		[role="main"]{
			margin-right: -100%;

		}
		.off-canvas.overlay{
			background-color: rgba(0,0,0,.5);
			margin-left : 0%;


		}

	}
}



.page-template-nike-fa15-page-php{
	footer {
		display : none;
	}

	.two-columns{
		width: 100%;
		float: left;
		.column{
			width: 50%;
			box-sizing: border-box;
			padding-right: 1em;
			float: left;
			
			
		}
	&.medium {
		.column{
			@media screen and (max-width: 780px){
					width: 100%;
					padding-right: 1em;

				}
			}
	}
		&.small{
			.column{
				@media screen and (max-width: 480px){
					width: 100%;
					padding-right: 1em;

				}
			}
		}

	}
	color: #6f706d;

	ul{
		margin-left: 1.5em;
		list-style: disc;
	}
	.block-grid{
		list-style : none;
		margin-left: 0;
		float: left;
		width:100%;
		clear: both;

		li{
			float: left;
			display: block;
			box-sizing : border-box;
			padding: 4px;
			position: relative;			
		}
		&.two-up li{
			width: 50%;
			@media screen and (max-width: 480px){
				width: 100%;
			}
		}
		&.three-up li{
			width: 33%;
			@media screen and (max-width: 767px){
				width: 50%;
			}
			@media screen and (max-width: 480px){
				width: 100%;
			}
		}
		&.four-up li{
			width: 25%;
			@media screen and (max-width: 767px){
				width: 33%;
			}
			@media screen and (max-width: 480px){
				width: 50%;
			}
		}
		&.five-up li{
			width: 20%;
			@media screen and (max-width: 480px){
				width: 50%;
			}
		}
		&.six-up li{
			width: 16.66%;
			@media screen and (max-width: 480px){
				width: 50%;
			}
		}
	}

	.tip-list{
		background: #909090;
		float: left;
		width: 100%;
		clear: both;
		padding-bottom: 1em;
		margin-bottom: 2em;

		h3{
			background : #3e4045;
			color: $off-white;
			text-align: center;
			margin: .5em 0 1em;
			padding: 1em 0;

		}
		ul{
			list-style: none;
			li{
				clear: both;
				width: 100%;
				display: block;
				float: left;
				margin-bottom: 2em;
				
				.icon{
						
						width: 40px;
						height: 40px;
						display: block;
						float:left;
						background-image: url(images/nike-fa15/app-images/lightbulb.png);
						background-repeat : no-repeat;
						background-size : contain;

						&.magnify{
							background-image: url(images/nike-fa15/app-images/magnify.png);
						}

						@media screen and (max-width : 480px){
							width: 20px;
						}
					}
				
				.tip-content{
					float: left;
					max-width: 90%;
				}
				h5{
					float: left;
					color: $off-white;
					clear: right;
					display: block;
					margin: 0;
					margin-right: .25em;
					line-height : 1;
					
				}
				li{
					color: $off-white;
				}
				p{
					color: $off-white;
					line-height : 1.4;
				}
				
			}
		}

	}
	h2{
		font-family : $trade-gothic;
		color: #404040;
		font-size: 2.8rem;
		line-height : 1;
		margin-top: 0;
		font-weight: 100;
		margin-bottom: .2em;
		text-transform:uppercase;
		@media screen and (max-width:1024px){
			font-size:2.5rem;
		}
		@media screen and (max-width: 780px){
			font-size:2.5rem;
		}
		a {
			color : inherit;
		}
	}
	h3, h4{
		font-family: $trade-gothic;
		color: #7e7e7e;
		text-transform:uppercase;
		font-size: 2rem;
		font-weight: 100;
		margin : 0;
		line-height : 1;
		margin-bottom : .5em;
	}
	h4{
		color: #404040;
		font-size: 1.4rem;
		font-weight: 100;
	}
	h5{
		font-family: $trade-gothic;
		font-weight: 100;
		color: #404040;
		font-size: 1.3rem;
	}
	
	h6{
		font-family: $futura-font;
		font-weight: 100;
		color: #404040;
		font-size: .9rem;
	}
	
	.theme-container{
		padding-top: 2em;
		position: relative;
		max-width: 100%;
		box-sizing : border-box;
		&.has-sidebar{
			padding: 1em;
			@media screen and (max-width: $small-screen){
				padding: auto;
			}
		}
	}
	.sidebar-container{
		width: 20%;
		float: left;
		padding: 1em;
		padding-top : 0;
		padding-left: 0;
		box-sizing : border-box;
		border-right : 1px solid #ccc;
		@media screen and (max-width: 767px){
			width: 100%;
			display : none;
		}
	}
	.content-container{
		width: 80%;
		float: left;
		box-sizing : border-box;
		padding: 0 1em;
		@media screen and (max-width: 767px){
			width: 100%;
			padding: 2em 1em 4em;
		}
	}
	.img-wrapper{
		float: left;
			}
	.img-wrapper.right{
		width: 20%;
		float: right;
		padding: .5em 2em;
		box-sizing : border-box;
		@media screen and (max-width: 1024px){
			width: 30%;
		}
		@media screen and (max-width: 768px){
			width: 40%;
		}
		@media screen and (max-width: 480px){
			width: 50%;
		}

	 }

	button{
		background-color: #40413e;
		border: 1px solid #12515a;
		font-family: $futura-font;
		text-transform : uppercase;
		font-size : 1.1em;
		text-shadow: none;
		box-shadow: none;
		color: #aeb0a5;
		border-radius : 0;
		outline-color :  #aeb0a5;
		transition : color .25s;
		> * {
			color : inherit;
		}
		&:hover{
			color: #edf0f0;
		}
	}
	button.primary{
		background-color: $green;
		border: 1px solid $teal;
		color:$off-white;
		outline-color : #38bb93;
		&:hover{
			color: #38bb93 ;
		}
	}
	.button-row {
		width: 100%;
		a {
			float: left;
			margin-right: 2%;
			width: 49%;
			text-align: center;
			&:last-child{
				margin-right : 0;
			}
			button {
				width: 100%;
			}
		}

	}
	hr.shaded{
		width: 100%;
		height: 40px;
		float: left;
		clear: both;
		background-image: url(images/nike-fa15/hr_fade.png);
		background-repeat: no-repeat;
		background-size : contain;
		border-top: none;
		background-position: center;
	}
	.wistia_embed{
		float: left;
		clear: both;
	}
	.header-wrapper{
		width: 100%;
		box-sizing: border-box;
		padding: 1em 2em;
		padding-top: 0;
		background-image: url(images/nike-fa15/banner-bg.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		float: left;
		z-index: 5;
		-webkit-box-shadow : 0 3px 3px rgba(0,0,0,.4);
		-moz-box-shadow : 0 3px 3px rgba(0,0,0,.4);
		-o-box-shadow : 0 3px 3px rgba(0,0,0,.4);
		box-shadow : 0 3px 3px rgba(0,0,0,.4);

	}
	h1.page-title{

		float: left;
		font-family : $trade-gothic;
		font-size: 4rem;
		font-weight: 100;
		color: #fff;
		text-transform: uppercase;
		clear: none;
		margin-bottom: 0;
		width: 50%;
		position: absolute;
		bottom: 0;
		@media screen and (max-width: 780px){
			font-size : 2em;
			line-height: 2.5;
		}
		@media screen and (max-width: 480px){
			font-size : 1.5em;
			position: relative;
		}
	}
	.quote-wrapper{
		position: relative;
		box-shadow : 0 0 64px rgba(0,0,0,.8) inset;
		float: left;
		top: 0;
		left: 0;
		z-index: 0;
		padding: 2em;
		width: 100%;
		box-sizing : border-box;
		.quote{
			width: 100%;
			float: left;
			display: block;
			position: relative;
			z-index: 2;
			font-family : $trade-gothic;
			color: #fff;
			text-transform : uppercase;
			font-size : 1.5em;
			.big{
				font-size: 1.5em;
			}
			.small{
				font-size: .8em;
				opacity: .95;
			}
			@media screen and (max-width: 480px){
				font-size : 1.5em;
				}
			
		.source{
			width: 100%;
			clear: both;
			display: inline-block;
			font-size: .7em;
			color: #fff;
			opacity: .95;
			&:before{
				content : "- ";
			}
		}
		}
		.bg-image{
			display: block;
			width: 100%;
			height: 100%;
			float: left;
			position : absolute;
			@media screen and (min-width: 1100px){
				position : absolute;
			}
			z-index : -1;
			top: 0;
			left: 0;
			opacity: 1;
		}
	}
	#footer{
		border: none;
	}
	.user-list{
		list-style : none;
		text-align : center;
		margin : 0;
		li{
			float : left;
			width: 20%;
			@media screen and (max-width: 767px){
				width: 50%;
				min-height: 160px;
			}

			.user-title{
				font-size : .8em;
				margin-top: 0;
				line-height: 1.3;
				@media screen and (max-width: 767px){
				font-size : .7em;
			}
			}
			.user-icon{
				background-size: contain;
				background-repeat : no-repeat;
				background-position : center;
				width: 100%;
				margin: 0 auto;
				height: 80px;
				display: block;
				

				&.retailers{
					background-image :  url(images/nike-fa15/user-types/retailers.jpg);
				}
				&.csd{
					background-image :  url(images/nike-fa15/user-types/sales-leader.jpg);
				}
				&.merchants{
					background-image :  url(images/nike-fa15/user-types/merchants.jpg);
				}
				&.dtc{
					background-image :  url(images/nike-fa15/user-types/buyers-planners.jpg);
				}
				&.business-planners{
					background-image :  url(images/nike-fa15/user-types/business-planners.jpg);
				}
				&.retail-planners{
					background-image :  url(images/nike-fa15/user-types/retail-planners.jpg);
				}
				&.account-execs{
					background-image :  url(images/nike-fa15/user-types/account-execs.jpg);
				}
				&.sales-ops{
					background-image :  url(images/nike-fa15/user-types/sales-operations.jpg);
				}
				&.csr{
					background-image :  url(images/nike-fa15/user-types/customer-service-rep.jpg);
				}
				&.account-ops{
					background-image :  url(images/nike-fa15/user-types/account-operations.jpg);
				}
			}
		}

	}
	.thumbnail-menu{
		list-style: none;
		float: left;
		margin-left: 0;
		width: 100%;
		.menu-item{
			position : relative;
			width: 60%;
			float: left;
			margin: 0 20%;
			margin-bottom : 1em;
			height: auto;
			text-align: center;
			color: #151519; 
			img{
				max-width: 200px;
				margin: 0 auto;
			}

			@media screen and (max-width: 480px){
				width : 100%;
				margin: auto;
			}
			.title{
				font-family: $futura-font;
				color: inherit;
				margin-top : 0;
			}
			a{
				
				
				.image-wrapper{
				opacity : .5;
				will-change: opacity;
				transition : all .5s;
				}
				.title{
					color : #aeb0a5;
					font-size : .9em;
					white-space: nowrap;
				}
			}
			&.disabled {
				a .image-wrapper{
				
					img{
						opacity : .2;
					}
					&:before{
						content: "Check Back";
						position : absolute;
						top : 20%;
						text-align : center;
						width: 100%;
						float: left;
						left : 0;
						font-family : $trade-gothic;
						text-transform : uppercase;
						font-size : .8em;
						color: #333;
					}
					
					}
					.title{
						color : #aeb0a5;
						opacity : .2;
					}
			&.day2 a .image-wrapper:before{
				content : "Check Back Thursday"
			}
			&.day3 a .image-wrapper:before{
				content : "Check Back Friday"
			}
			&.day4 a .image-wrapper:before{
				content : "Check Back Saturday"
			}
			}
			

			a.current{
				color: inherit;
				.image-wrapper{
					
				}
				.title{
					color: #333; 
				}
				&:after{
					content: "\279f";
					font-family: "nike-icon-font";
					position: absolute;
					display: inline-block;
					right: -1em;
					width: 20px;
					height: 20px;
					top: 20%;
					font-size: 1.5em;
					color: inherit;
					text-shadow :  0 0 0px #333;
					@media screen and (max-width: 480px){ 
						right : 0;
					}
				}
			}

			a:hover{
				.image-wrapper{
					opacity: 1;
				}
				.title{
					color : #151519;
				}
			}
			a:active{	
				.image-wrapper{
					opacity: .3;
				}			
				.title{
					color : #edf0f0;
				}
			}
		}
	}
.learn-more{
	color: $off-white;
	h3{
		color: $off-white;
		float: left;
		margin-right: 1em;
		margin-top: .5em;
		font-size: 3em;
		@media screen and (max-width : 480px){
			font-size: 2em;
		}
	}
	ul {
		float: left;
		padding-top: 2em;
		list-style: square;
		a{
			color: $off-white;
		}
	}
}
	.pseudo-footer{
		width: 100%;
		box-sizing: border-box;
		padding: 1em 2em;
		padding-top: 0;
		background-image: url(images/nike-fa15/banner-bg.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		float: left;
		z-index: 5;
		-webkit-box-shadow : 0 -3px 3px rgba(0,0,0,.4);
		-moz-box-shadow : 0 -3px 3px rgba(0,0,0,.4);
		-o-box-shadow : 0 -3px 3px rgba(0,0,0,.4);
		box-shadow : 0 -3px 3px rgba(0,0,0,.4);
	}

}
#main-header.hide{
	display: none;
}
#mobile-toggle.hide{
	display: none;
}


