$small-screen : 480px;
$medium-screen : 1025px;

//COLORS
$black : #221f20;
$brown : #532910;
$blue : #253d50;
$white : #ebe5dc;

$primary-color : $brown;
$secondary-color: $blue;
$font-color : $black;
$base-font-family : 'Century Gothic W01', arial, helvetica, sans-serif;
$header-font-family : 'Century Gothic W01 Bold' , arial, helvetica, sans-serif;
$italic-font-family : 'CenturyGothicW01-Italic', arial, helvetica, sans-serif;


* { //no hyphenation
	-moz-hyphens: none;
  -ms-hyphens: none;
  -webkit-hyphens: none;
  hyphens: none;
}
body.page-template-tp_fact_page{
	font-family : $base-font-family;
	background-color : $font-color !important;

	h1, h2, h3, h4, h5,h6, b, strong, {
		font-family : $header-font-family;
		text-transform : none;
		
	}

}




//.page-template-dh_player-card .page-template-dh_player-card-php
.page-template-tp_fact_page{
	#wpadminbar{
		display : none;
	}
	*{
		box-sizing : border-box;
	}
	color: $font-color;

	[role="main"]{
		width: 100%;
		padding: 0;
		margin: 0 auto;
		float: none;
		max-width: 1024px;
	}
	.logged-in [role="main"]{
		padding-top: 32px;
	}

	.tp-page{
		float: left;
		width: 100%;
		margin-top: 350px;
		background-color : $white;
		-webkit-box-shadow : 0 0 2px rgba($black, .3);
		-moz-box-shadow : 0 0 2px rgba($black, .3);
		-o-box-shadow : 0 0 2px rgba($black, .3);
		box-shadow : 0 0 2px rgba($black, .3);
		padding: 30px 20px;
		min-height: 100%;
		position : relative;
		z-index: 2;

		.fact-button{
			display: block;
			position: absolute;
			width: 175px;
			height: 153px;
			float:right;
			z-index: 4;
			background-repeat : no-repeat;
			background-image : url('travel-portland/button.png');
			background-size: contain;
			top: -78px;
			right: 10px;
			@media screen and (max-width:500px;){
				-webkit-transform : scale(.5);
				-moz-transform : scale(.5);
				-o-transform : scale(.5);
				transform : scale(.5);

				right: -10px;

			}

		}
		h2{
			margin: 0 0 1.22222rem;
			font-size : 2em;
			text-transform : uppercase;
		}
		.logo-wrapper{
			width: 100%;
			float: left;
			clear: both;
			text-align : center;
			img{
				width: 50%;
				@media screen and (orientation: portrait ){
					width: 100%;
				}
			}
		}

		.logo{
			
			margin : 0 auto;
		}
		.fact{
			font-size : 1.6em;
			line-height:1.4;
			font-family : $base-font-family;
		}
		.fact-comparison{
			font-size : 1.4em;
			line-height:1.4;
			font-style: italic;
			font-family : $italic-font-family;
			color : lighten($font-color, 20%);
		}

	}
	
	.sharing-wrapper{
			background-color : $primary-color;
			color : $white;
			width: 100%;
			float: left;
			clear: both;
			padding : 20px 10px;
			-webkit-box-shadow : 0 0 4px rgba($black, .3);
			-moz-box-shadow : 0 0 4px rgba($black, .3);
			-o-box-shadow : 0 0 4px rgba($black, .3);
			box-shadow : 0 0 4px rgba($black, .3);
			.sharing-title{
				background-color  :transparent;
				color: $white;
				text-align : center;
				text-transform : uppercase; 
				margin-bottom: 1em;
				font-weight: 100;
				font-size: 1.3em;
			}
			p{
				background-color : transparent;
				color: $white;
			}
			.share-item{
				float: left;
				font-size: .8em;
				text-align : center;
				width: 32%;
				padding: 0 5px;
				margin: 0 9%;
			}
			.share-icon {}
		}


	

	footer {
		display : none;
	}

	.two-columns{
		width: 100%;
		float: left;
		.column{
			width: 50%;
			box-sizing: border-box;
			padding-right: 1em;
			float: left;
			
			
		}
	&.medium {
		.column{
			@media screen and (max-width: 780px){
					width: 100%;
					padding-right: 1em;

				}
			}
	}
		&.small{
			.column{
				@media screen and (max-width: 480px){
					width: 100%;
					padding-right: 1em;

				}
			}
		}

	}

	ul{
		margin-left: 1.5em;
		list-style: disc;
	}
	.block-grid{
		list-style : none;
		margin-left: 0;
		float: left;
		width:100%;
		clear: both;

		li{
			float: left;
			display: block;
			box-sizing : border-box;
			padding: 4px;
			position: relative;			
		}
		&.two-up li{
			width: 50%;
			@media screen and (max-width: 480px){
				width: 100%;
			}
		}
		&.three-up li{
			width: 33%;
			@media screen and (max-width: 767px){
				width: 50%;
			}
			@media screen and (max-width: 480px){
				width: 100%;
			}
		}
		&.four-up li{
			width: 25%;
			@media screen and (max-width: 767px){
				width: 33%;
			}
			@media screen and (max-width: 480px){
				width: 50%;
			}
		}
		&.five-up li{
			width: 20%;
			@media screen and (max-width: 480px){
				width: 50%;
			}
		}
		&.six-up li{
			width: 16.66%;
			@media screen and (max-width: 480px){
				width: 50%;
			}
		}
	}
	h1{
		font-size : 2rem;
	}

	
	h2{
		font-family : $base-font-family;
		color: $font-color;
		font-size: 2rem;
		line-height : 1;
		margin-top: 0;
		margin-bottom: .2em;
		text-transform:uppercase;
		@media screen and (max-width:1024px){
			font-size:2.5rem;
		}
		@media screen and (max-width: 780px){
			font-size:2.5rem;
		}
		a {
			color : inherit;
		}
	}
	h3, h4{
		font-family: $base-font-family;
		color: lighten($font-color, 10%);
		font-size: 1rem;
		margin : 0;
		line-height : 1;
		margin-bottom : .5em;
	}
	h4{
		color: lighten($font-color, 15%);
		font-size: 1rem;
	}
	h5{
		font-family: $base-font-family;
		color: lighten($font-color, 20%);
		font-size: 1.3rem;
	}
	
	h6{
		font-family: $base-font-family;
		color: lighten($font-color, 25%);
		font-size: .9rem;
	}
	
	.theme-container{
		padding: 0;
		position: relative;
		max-width: 100%;
		box-sizing : border-box;
		background-color : transparent;

		&.has-sidebar{
			padding: 1em;
			@media screen and (max-width: $small-screen){
				padding: auto;
			}
		}
		.section{
			margin-bottom: 1em;
			padding-bottom: 1em;
			display : block;
			float: left;
			width: 100%;
			border-bottom : 1px dashed #666;
		}
	}
	a{
		color: $primary-color;
		&:hover, &:active{
			color: #ddd;
		}
	}

	
	.content-container{
		width: 80%;
		float: left;
		box-sizing : border-box;
		padding: 0 1em;
		@media screen and (max-width: 767px){
			width: 100%;
			padding: 2em 1em 4em;
		}
	}
	.header-image-wrapper{
		-webkit-box-shadow : 0 0 2px rgba($black, .3) inset;
		-moz-box-shadow : 0 0 2px rgba($black, .3) inset;
		-o-box-shadow : 0 0 2px rgba($black, .3) inset;
		box-shadow : 0 0 2px rgba($black, .3) inset;
		position: absolute;
		float: left;
		width : 100%;
		height: 400px;
		.header-image{
			width: 100%;
			height: 100%;
			position: absolute;
			background-repeat : no-repeat;
			background-size : cover;
			background-position : center 0%;
			z-index : -1;
			@media screen and (orientation : portrait){
				background-size : 130%;
			}
		}
	}
	.img-wrapper{
		float: left;
			}
	.img-wrapper.right{
		width: 20%;
		float: right;
		padding: .5em 2em;
		box-sizing : border-box;
		@media screen and (max-width: 1024px){
			width: 30%;
		}
		@media screen and (max-width: 768px){
			width: 40%;
		}
		@media screen and (max-width: 480px){
			width: 50%;
		}

	 }

	button{
		background-color: $secondary-color;
		border: 1px solid darken($secondary-color, 10%);
		font-family: $base-font-family;
		text-transform : uppercase;
		font-size : 1.1em;
		text-shadow: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		-o-box-shadow: none;
		box-shadow: none;
		color: $font-color;
		border-radius : 0;
		outline-color :  darken($secondary-color, 10%);
		transition : color .25s;
		> * {
			color : inherit;
		}
		&:hover{
			color: lighten($font-color, 20%);
		}
	}
	button.primary{
		background-color: $primary-color;
		border: 1px solid darken($primary-color, 10%);
		color:$font-color;
		outline-color : darken($primary-color, 10%);;
		&:hover{
			color: lighten($font-color, 10%) ;
		}
	}
	.button-row {
		width: 100%;
		a {
			float: left;
			margin-right: 2%;
			width: 49%;
			text-align: center;
			&:last-child{
				margin-right : 0;
			}
			button {
				width: 100%;
			}
		}

	}
	hr.shaded{
		width: 100%;
		height: 40px;
		float: left;
		clear: both;
		background-repeat: no-repeat;
		background-size : contain;
		border-top: none;
		background-position: center;
	}
	.wistia_embed{
		float: left;
		clear: both;
	}
	.header-wrapper{
		width: 100%;
		background-color : $primary-color;
		box-sizing: border-box;
		padding: 1em 2em;
		padding-top: 14px;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		float: left;
		z-index: 5;
		-webkit-box-shadow : 0 1px 2px rgba(0,0,0,.3);
		-moz-box-shadow : 0 1px 2px rgba(0,0,0,.3);
		-o-box-shadow : 0 1px 2px rgba(0,0,0,.3);
		box-shadow : 0 1px 2px rgba(0,0,0,.3);

	}
	.page-title{

		float: left;
		font-family : $base-font-family;
		font-size: 4rem;
		font-weight: 100;
		color: #fff;
		text-transform: uppercase;
		clear: none;
		margin-bottom: 0;
		width: 50%;
		position: absolute;
		bottom: 0;
		@media screen and (max-width: 780px){
			font-size : 2em;
			line-height: 2.5;
		}
		@media screen and (max-width: 480px){
			font-size : 1.5em;
			position: relative;
		}
	}
	
	#footer{
		border: none;
	}
	
}
#main-header.hide{
	display: none;
}
#mobile-toggle.hide{
	display: none;
}


