/*---------------------------------------------------------
 Associated posts (attached-posts.css)
-------------------------------------------------------- */
.snap-attached-posts li {
	list-style: none;
	cursor: move;
	position: relative;
	border: 1px dashed #cccccc;
	background-color: #ffffff;
	padding: 9px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.snap-attached-posts li:hover {
	border-color: #d54e21;
}
.recent-post {
	margin-bottom: 0;
	border-bottom: 1px solid #f5f5f5;
}
#posts-recent li:last-of-type {
	border-bottom: 0;
}
.snap-recent-post {
	text-decoration: none;
	display: block;
	padding: 9px 9px 9px 0;
}
.snap-recent-post:before {
	content: "\002B";
	position: relative;
	top: -1px;
	padding-right: 3px;
	color: #cccccc;
	font-weight: 700;
	font-size: 14px;
}
.snap-recent-post:hover:before {
	color: #21759b;
}
/*---------------------------------------------------------
 Sortable placeholder (attached-posts.css)
-------------------------------------------------------- */
.snap-attached-posts-sortable-placeholder li {
	background: pink;
}
/*---------------------------------------------------------
Borrowed from Core. The classes could not be directly applied to the HTML due to conflicts with jQuery selectors (attached-posts.css)
-------------------------------------------------------- */
.snap-post-chooser .tabs-panel {
	min-height: 42px;
	max-height: 200px;
	overflow: auto;
	padding: 0 0.9em;
	border-style: solid;
	border-width: 1px;
}
/*---------------------------------------------------------
 Toggling selectors (attached-posts.css)
-------------------------------------------------------- */
.snap-active-tab {
	display: block;
}
.snap-inactive-tab {
	display: none;
}
/*---------------------------------------------------------
 Autocomplete select box (attached-posts.css)
-------------------------------------------------------- */
.ui-autocomplete {
	overflow-x: hidden;
}