/*---------------------------------------------------------
 Print (print-style.css)
-------------------------------------------------------- */
* {
	background: transparent !important;
    color: #000000 !important;
	text-shadow: none !important;
	box-shadow: none !important;
	font-size: 12px !important;
}
*:before {
	content: "" !important;
	padding-right: 0 !important;
}
*:after {
	content: "" !important;
	padding-left: 0 !important;
}
button {
	border: 0 !important;
}
a {
	text-decoration: underline;
}
img {
	max-width: 100% !important;
}
#blurb {
	width: 100%;
}
.tile .post {
	border: 0 !important;
}
h1,
h2,
h3 {
	font-size: 18px !important;
}
.drop-cap {
	float: none;
	margin: 0;
	font-size: inherit;
}
#respond,
#main-header,
#mobile-toggle {
	display: none !important;
}
pre,
blockquote,
tr,
img {
	page-break-inside: avoid;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	page-break-after: avoid;
}
#comments {
	page-break-before: always;
}